<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saif.bakingapp">
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <receiver android:name=".IngredientWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ingredient_widget_info" />
        </receiver>

        <service
            android:name=".ListWidgetServices"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <meta-data android:name="AA_DB_NAME" android:value="Baking.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="13" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.example.saif.bakingapp.model.Ingredient,
            com.example.saif.bakingapp.model.Recipe,
            com.example.saif.bakingapp.model.Step" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

<activity android:name="com.example.saif.bakingapp.IngredientsListActivity"/>
        <activity android:name=".StepListActivity"/>
        <activity android:name=".StepDetailsActivity"/>
    </application>

</manifest>